html
    head
        link(rel="stylesheet", href="css/styles.css")
    body
        .container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#rules") Rules
                    .line.align-self-center
                    a(href="#howto") Join
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 Pok&eacute;mon Go East Kent
                    a.links-suppressor.join-btn.btn-pill.white(href="https://discordapp.com/invite/vdZMcn3") Join Server
                    
            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About
                        p
                            b Pok&eacute;mon Go East Kent
                            | &nbsp;is a community covering Margate, Westgate, Birchington, Ramsgate, Broadstairs and Cliftonville. Chat with other players in the area, make friends, raid, compete in our leaderboards. Everyone is welcome, Come and join the fun!
                            br
                            br
                            b If you join this community, you can expect:
                            br
                        ul
                            li Multiple raids every day.
                            li Leaderboards, compete with other players to see who has the most XP.
                            li EX raids.
                            li Trading.
                            li Events.
                            li Chat with other players.
                            li And much much more.
                section#howto.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 How to join
                        p We use Discord, the text chat app for gamers. You can get it from the App store or Google Play.
                        a(class="google" href='https://play.google.com/store/apps/details?id=com.discord')
                        a(class='itunes' href='https://itunes.apple.com/gb/app/discord/id985746746?mt=8')
                        br
                        br
                        p Once you've got the app and signed up, come back here and press the Join Server button at the top of the page. Be sure to head to the #verification channel and post a screenshot of your profile page. You can access your trainer page by pressing the button on the bottom left in Pok&eacute;mon Go.

                            
                section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image3(style="flex-grow: 1")
                    .text
                        h2 Rules
                        p
                            b Pok&eacute;mon Go East Kent
                            | &nbsp;is a community of like-minded players, and as such we have some rules we'd like you to follow while playing.
                            br
                            br
                        ul
                            li No insulting other members. Please be civil!
                            li Falsifying your location will NOT be tolerated in this group. We have a three strike policy and found spoofers will be banned.
                            li No spam, no porn, no abusing mentions. References to porn websites or illegal drugs will result in a warning.
                            li Accounts must be verified within a month, otherwise they will be removed. If you're under 18, you will have to declare so upon joining. Verification is handled by TrainerDex, more information can be found at trainerdex.co.uk. To verify, head to #verification and read the message posted by @Dyno
                            li No bullying or ganging up on other members of the group.
                            
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=319811219093716993&theme=dark",
                        allowtransparency="true",
                        frameborder="0")
                    
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://discord.gg/red") Join Server
                    .line.align-self-center(style="flex-grow: 1")
